* {
	box-sizing: border-box;
}
#field {
	margin: 0 auto;
}
#field td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
}
#paragraph {
	text-align: center;
}
.red {
	background: red;
}
.green {
	background: green;
}
.blue {
	background: blue;
}
