* {
	font-family: 'MuseoSansCyrl', sans-serif;
}
@import "base/variables";
@import "base/mixins";

.container {
	width: 950px;
	margin: 0 auto;
}

@import "blocks/_promo";
@import "blocks/_header";
@import "blocks/_buttons";
@import "blocks/_advantages";
@import "blocks/_titles";
@import "blocks/_consultation";
@import "blocks/_forms";
@import "blocks/_carousel";
@import "base/_media";
<<<<<<< HEAD
@import "blocks/catalog";
@import "blocks/reviews";
=======
@import "blocks/catalog";
>>>>>>> bbf563832bd4c53b4844bf077eb50577d682ce48
