* {
	box-sizing: border-box;
}
.container {
	width: 800px;
	margin: 0 auto;
}

#input {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 170px;
	width: 200px;
}
#btn {
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
}
#paragraph {
	text-align: center;
}

