.carousel {
    padding: 81px 0 82px 0;
    &__inner {
        display: flex;
        justify-content: center;
        min-height: 800px;
        margin: 0 auto;
        position: relative;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 3s all;
    }
    &__slide {
        width: 550px;
        min-height: 580px;
        img {
            transition: 2s all;
            width: 100%;
            &:not(.active) {
                display: none;
            }
        }
    }

    .slick-prev {
        position: absolute;
        bottom: 50%;
        left: -120px;
        transform: translateY(-50%);
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        position: absolute;
        bottom: 50%;
        transform: translateY(-50%);
        right: -120px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
    
    }
}
}