* {
	box-sizing: border-box;
}
#main {
	font-size: 40px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 900px;
}
#main a {
	text-decoration: none;
}
.slider {
	text-align: center;
	width: 500px;
}
img:not(.active) {
	display: none;
}